.wrapper {
    width: 100vw;
    @media (min-width: 1080px) {
        width: 1280px;
    }
}

.article {
    h1 {
        font-size: 48px;
        font-weight: 700;
    }

    h2 {
        font-size: 40px;
        font-weight: 700;
    }

    h3 {
        font-size: 32px;
        font-weight: 700;
    }

    h4 {
        font-size: 24px;
        font-weight: 500;
    }

    h5 {
        font-size: 16px;
        font-weight: 500;
    }

    h6 {
        font-size: 8px;
        font-weight: 500;
    }

    p {
        padding: 16px 8px;
    }

    ol {
        list-style-type: upper-roman;
        padding-left: 32px;
    }

    ul {
        list-style-type: square;
        padding-left: 32px;
    }

    li {
        padding-left: 8px;
    }

    code {
        font-family: Consolas, 'courier new';
        color: crimson;
        background-color: #f1f1f1;
        padding: 2px;
        font-size: 105%;
    }

    blockquote {
        background-color: lightgrey;
        padding: 8px;
    }
}
